* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
    --primary-color: #2e80ce;
    --second-color: #fff;
    --third-color: #c9d2da;
}

html {
    font-size: 62.5%;
    font-family: "Sora", sans-serif;
}

body {
    font-size: 1.6rem;
}

/* Common */

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    height: 60px;
    padding: 15px 45px;
    display: inline-flex;
    align-items: center;
    background: var(--primary-color);
    border-radius: 999px;
}

.p__large {
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--third-color);
}

.font--white {
    font-size: 1.8rem;
    color: var(--second-color);
}

.heading {
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--header-bg);
}

.desc {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}

/* Header */

header {
    min-height: 100vh;
    background: var(--header-bg);
    padding-top: 30px;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
}

.logo {
    font-size: 1em;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: var(--primary-color);
}

.logo__circle::after {
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    top: 1.1em;
    left: 1.1em;
    background: #fff;
    border-radius: 50%;
}

.logo__text {
    margin-left: 6px;
    color: #fff;
    text-align: right;
}

.logo__branch {
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1.4em;
    display: block;
}

.logo__branch--small {
    font-size: 1.4em;
    font-weight: 300;
}

/* Header Top */

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar__list {
    display: flex;
}

.nav-bar__item {
    position: relative;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__login,
.nav-bar__link {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--third-color);
    padding: 8px 21px;
}

.nav-bar__link:hover {
    color: var(--second-color);
}

.nav-bar__active {
    color: #fff;
}

.nav-bar__active::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 5px;
    left: 8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--second-color);
}

.header-action__signup {
    height: 44px;
    color: var(--second-color);
}

/* Hero */

.hero {
    margin-top: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 110px;
}

.hero__content {
    width: 45%;
}

.hero__content--title {
    font-size: 7rem;
    font-weight: 600;
    color: var(--second-color);
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.hero__content--info {
    margin-top: 22px;

    line-height: 1.67;
}

.hero__content--action {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__content--action__btn {
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--second-color);
    margin-right: 38px;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

/* Service */

.service {
    margin: 170px 0;
}

.service__heading--title,
.service__desc {
    text-align: center;
}

.service__desc {
    margin-top: 18px;
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 130px;
}

.service__img {
    width: 570px;
    height: 507px;
    border-radius: 12px;
    object-fit: cover;
}

.service__list {
    display: flex;
    margin-bottom: 41px;
    border-radius: 10px;
}

.service__list:hover {
    background: #ffffff;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.service__list:hover .service__item--wrap {
    background: var(--primary-color);
    color: var(--second-color);
}

.service__item--wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    align-items: center;
    justify-content: center;
    color: #10375c;
    flex-shrink: 0;
}

.service__info {
    margin-left: 19px;
}

.service__list--title {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    color: #10375c;
}

.service__list--desc {
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.75;
    color: #575f66;
}

/* Work */

.work {
    padding: 100px 0;
    margin-bottom: 70px;
    background: #f7fbff;
}

.work-desc {
    margin-top: 18px;
    width: 468px;
    line-height: 1.67;
}

.work-list {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    padding: 43px 42px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    transition: 0.25s;
}

.work-item:hover {
    transform: translateY(-16px);
    border-color: #2e80ce;
}

.work__heading {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #10375c;
}

.work-item__desc {
    margin-top: 28px;
    font-weight: 300;
    line-height: 1.75;
    color: #575f66;
}

.work__cta {
    display: block;
    margin-top: 18px;
    color: #2e80ce;
}

/* features */

.features {
    padding: 100px 0;
}

.features-body {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.features-media {
    width: 48%;
    position: relative;
    padding-bottom: 121px;
    padding-right: 58px;
}

.media-img:first-child {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.media-img:last-child {
    position: absolute;
    width: 332px;
    height: 370px;
    right: 0;
    bottom: 0;
    object-fit: cover;
    border-radius: 6px;
}

.features-info__desc {
    margin-top: 18px;
}

.features-btn {
    margin-top: 38px;
    color: var(--second-color);
}
